* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

a {
  color: #0c0c0c;
}

#header-container  {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  
}
#header-nav ul {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;


}

.nav-item a {
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;


}




#login {
  width: 350px;

  margin-right: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

}



.btn-search {
  width: 30px;
  height: 30px;
  position: relative;
  left: 2%;

}




.btn-login {
  width: 100px;
  height: 35px;
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #e00917;
  color: #000000;
  border: solid black 2px;
}
.main-item {
  width: 100px;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  text-transform: uppercase;
  border: 3px solid #d4d5d5;
  background-color: #d4d5d5;
  border-radius: 8px;
  position: relative;
  top: 25px;
}

.main-nav {
  width: 100%;
  height: 100px;
  position: relative;
  border: solid 2px;
  background-color: #d4d5d5;

}

.main-nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-item {
  width: 100px;
  font-size: 18px;
  text-align: center;
  margin: 10px;
  text-transform: uppercase;
  background-color: #d4d5d5;
}

.main-item a {
  color: #000000;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  width: 100%;
  margin-top: 50px;
  align-content: center;
  justify-content: center;
  align-items: center;

}

.article-box {
  width: 250px;
  height: 430px;
  display: flex;
  flex-direction: column;
  background-color: #d4d5d5;
  margin: 50px;
  border-radius: 8px;
  border: solid black 3px;



}

.card {
  width: 250px;
  height: 370px;


}

.card img {
  flex: 1;
  height: 90%;
  width: 100%;
  position: relative;
}

.text-card {
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Bebas Neue", sans-serif;

}

footer {
  width: 100%;
  height: 190px;
  bottom: 0;
  background-color: #ffffff;
  
}

.sobre {
  display: flex;
  align-items: center;
}

.info {
  margin: 20px;

}

.info p {
  margin-top: 10px;
  letter-spacing: 1.5px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
}

p {
  width: 100%;
  height: 100px;
  font-size: 8.5px;
  position: relative;
  right: 2%;
  top: 40px;
  padding: 30px;
  color: #000000;
  margin-top: 3px;
  background-color: #fdffff;
  
}

input {
  width: 250px;
  height: 30px;
  text-align: center;
}